:root {
  --font-family: "Lora", serif;
  --primary: #98c1d9;
  --primary-dark: #3d5a80;
  --dark: #293241;
  --danger: #ee6c4d;
  --background-light: #e0fbfc;
  --text-color: #444;
  --text-color-light: #fff;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --border: 1px solid #eee;
}
